@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight-link: #641fd4;

  --main-background: #dcdcdd80;
  --second-background: #ffffff;
  --third-background: #dddddd;
  --main-text: #000000;
  --second-text: #4b5563;
  --primary-text: #6d28d9;

  /* Global root */
  --btn-color: #6d28d9;
  --btn-color-hover: #5b21b6;
}
.dark {
  --highlight-link: #8b5cf6;

  --main-background: #120f16;
  --second-background: #161518;
  --third-background: #18141c;

  --main-text: #ffffff;
  --second-text: #d1d5db;
  --primary-text: #7c3aed;
}

body {
  font-family: "Open Sans", sans-serif;

  color: var(--main-text);
  background-color: var(--main-background);
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-items-center {
    @apply flex items-center;
  }
  .container-layout {
    @apply w-[95%] max-w-[1080px] px-3 mx-auto;
  }
  .title {
    @apply font-bold text-lg md:text-2xl lg:text-3xl text-center mb-3;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
/* end Scrollbar */

/*  Switch Theme */

.slider {
  position: absolute;
  inset: 0;
  background-color: #28096b;
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* End Switch Theme */

/* typed cursor text */

.blink {
  animation: blink 0.8s infinite ease-in-out;
}

@keyframes blink {
  0%,
  100% {
    background: var(--primary-text);
  }
  40%,
  50% {
    background: transparent;
  }
}

/* end typed cursor text */
